<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url "index1" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="upload">Enter File: </label>
            <input type="file" name="file_upload" required>
        </div>
        <div>
            <input type="submit" value="Upload">

        </div>
    </form>
   
</body>
</html>